<nav class="navbar navbar-default navbar-fixed-top" ng-controller="menuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand glyphicon glyphicon-home" title="Home" href="#" ui-sref-active="active" ui-sref="krishna.home"></a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                
                <li><a  class="visible-xs" ui-sref-active="active" ui-sref="krishna.todo" data-toggle="collapse" data-target=".navbar-collapse">Todo</a>
                    <a ui-sref-active="active" ui-sref="krishna.todo" class="hidden-xs">Todo</a></li>
                <li><a class="visible-xs" ui-sref-active="active" ui-sref="krishna.about" data-toggle="collapse" data-target=".navbar-collapse">About</a>
                    <a class="hidden-xs" ui-sref-active="active" ui-sref="krishna.about">About</a></li>
                <li><a class="visible-xs" ui-sref-active="active" ui-sref="krishna.contact" data-toggle="collapse" data-target=".navbar-collapse">Contact Us</a>
                    <a class="hidden-xs" ui-sref-active="active" ui-sref="krishna.contact" >Contact Us</a></li>
                <li><a class="visible-xs" ui-sref-active="active" ui-sref="krishna.blog" data-toggle="collapse" data-target=".navbar-collapse">Blog</a>
                    <a class="hidden-xs" ui-sref-active="active" ui-sref="krishna.blog">Blog</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Page 1
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Page 1-1</a>
                            <a class="hidden-xs">Page 1-1</a></li>
                        <li><a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Page 1-2</a>
                            <a class="hidden-xs">Page 1-2</a></li>
                    </ul>
                </li>
                <li><a class="visible-xs" ui-sref-active="active" ui-sref="krishna.users" data-toggle="collapse" data-target=".navbar-collapse">Users</a>
                    <a class="hidden-xs" ui-sref-active="active" ui-sref="krishna.users">Users</a></li>
            </ul>
            <div ng-controller="LoginController">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="visible-xs" title="Log out" ng-click="logoutFromUser()" data-toggle="collapse" data-target=".navbar-collapse">Log out</a>
                        <a title="Log out" ng-click="logoutFromUser()" class="hidden-xs">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>